
<footer class="w-full flex flex-col items-center gap-2 mt-auto p-4">
    <div class="flex gap-8">
      <a class="scale-[200%] duration-100 hover:text-yellow-500" target="_blank" href="https://github.com/Natclie"><i class="fa-brands fa-github"></i></a>
      <a class="scale-[200%] duration-100 hover:text-yellow-500" target="_blank" href="https://x.com/CoscuArmyOf"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="scale-[200%] duration-100 hover:text-yellow-500" target="_blank" href="https://www.instagram.com/accounts/login/caawards"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="flex items-center gap-1 font-Inter text-xm">
      <h3>Coscu Army Awards | Derechos de autor © 2024</h3>
    </div>
  </footer>
