<div class="flex gap-8">
    <a target="_blank" class="text-yellow-600" href="https://github.com/Natclie/coscu-awards">
        <i class="scale-200 fa-brands fa-github"></i>
    </a>
    <a target="_blank" class="text-yellow-600" href="https://www.instagram.com/caawards">
        <i class="scale-200 fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" class="text-yellow-600" href="https://x.com/CoscuArmyOf">
        <i class="scale-200 fa-brands fa-x-twitter"></i>
    </a>
</div>