<div class="mx-auto overflow-hidden relative ">
    <div class="flex flex-wrap justify-center gap-20 sponsors">
        <img data-aos="fade-up" class="max-w-[200px] min-w-[150px]" src="../../sponsors/Kick_logo.png" alt="Kick">
        <img data-aos="fade-up" class="max-w-[200px] min-w-[150px]" src="../../sponsors/Stake_logo.png" alt="Stake">
        <img data-aos="fade-up" class="max-w-[250px] min-w-[200px]" src="../../sponsors/Speed_logo.png" alt="Speed">
    </div>
</div>
<style>
    
</style>