---

---

<div class="flex flex-wrap max-w-[850px] gap-4">
  <div class="flex flex-col gap-5">
    <h2 data-aos="fade-up" class="text-yellow-500 text-ani font-bold text-5xl flex justify-center">SOBRE NOSOTROS</h2>
    <p data-aos="fade-up" data-aos-delay="100" class="text-lg">Los 'Coscu Army Awards' es un evento que premia y homenajea a streamers de la comunidad de Twitch de Argentina, dirigido por el streamer argentino Martín Pérez Disalvo.</p>
  </div>
  <div data-aos="fade-up" class="item">
    <span class="text-yellow-500 text-ani">2018</span>
    <p>Primera edicion en la Escuela Da Vinci, 40,000 espectadores.</p>
  </div>
  <div data-aos="fade-up" class="item">
    <span class="text-yellow-500 text-ani">2019</span>
    <p>Segunda edición en Estadio Obras Sanitarias, casi 100 mil espectadores.</p>
  </div>
  <div data-aos="fade-up" class="item">
    <span class="text-yellow-500 text-ani">2020</span>
    <p>Tercera edición en Estadio Obras Sanitarias, 425 mil espectadores, transmisión más vista de LATAM, Coscu recibe 'Streamer Leyenda'.</p>
  </div>
  <div data-aos="fade-up" class="item">
    <span class="text-yellow-500 text-ani">2021</span>
    <p>Cuarta edición en el Hotel Hilton, homenaje a ganadores anteriores con anillo de oro.</p>
  </div>
  <div data-aos="fade-up" class="item">
    <span class="text-yellow-500 text-ani">2022</span>
    <p>Quinta edición en el Teatro Colón, 200 mil espectadores y 2.500 invitados.</p>
  </div>
  <div data-aos="fade-up" class="item font">
    <span class="text-yellow-500 text-ani">2023</span>
    <p>Sexta edición en el Luna Park, casi 6 horas, DavoXeneize 'Streamer del Año'.</p>
  </div>
</div>

<style>
  .item{
    width: 400px;
    padding: 8px 0px;
    margin: 0 auto;
  }
  .item span{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .item p{
    font-size: 1.1rem;
    color: white;
  }
</style>